.singleProductPage {
    margin-bottom: 8rem;
}

.singleProductCard {
    width: 40rem;
    box-shadow: 0.5rem 0.5rem 1rem #bbc4cf;
    background-color: var(--mint) !important;
}

.singleProductImage {
    width: 10rem;
    margin: auto;
}

.buyBtn {
    background-color: var(--deepblue) !important;
    color: var(--mint) !important;
    width: 25%;
    justify-content: center;
}

.buyBtn:hover {
    transform: scale(1.02) !important;
    background-color: #0354a0 !important;
}

.cardHeader {
    background: linear-gradient( to top,var(--lightblue), var(--alice)); 
    border:1px solid var(--lightblue)
    /* background-color: var(--lightblue) !important; */
}
.cardHeader *,.cardHeader{
    font-size:1.1rem;
}
.link {
    color: rgb(0, 54, 126);
    /* text-shadow: 1px 1px var(--alice); */
}

.link:hover {
    color: rgb(165, 26, 26);

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
@media screen  and (max-width:500px){
    .buyBtn {
        width:50%;
    }
}
@media screen and (max-width:410px) {
    html {
        height:800px !important;
    }
    .singleProductPage{
        margin-bottom:10rem;
        padding:0 !important;
    }
    
}

@media screen and (max-width:398px) {
    html {
        height: 110% !important;
    }
    
}