.productLink,.productLink:hover{
    text-decoration: none;
    color:black;

}

.productCard{
    width:20rem;
    height:25rem;
    margin:0.5rem;
    box-shadow:0.5rem 0.5rem 1rem #bbc4cf;
    transition:transform 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--mint) !important;
    color: var(--royal);
}
.productCard:hover{
    transform: scale(1.03);
}

.productImage{
    max-height:9.5rem;
    max-width: 15rem;
    margin:auto;
    color: var(--royal) !important;
}

.proDesc {
    padding-top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:410px) {
    
    .productCard,.productLink{
      width:100vw !important;
      padding:0 !important;
      margin-left:0 !important;
      margin-right:0 !important;
    }
  }