.productLink,.productLink:hover{
    text-decoration: none;
    color:black;

}

.productCard{
    width:20rem;
    height:20rem;
    box-shadow:0.5rem 0.5rem 1rem #bbc4cf;
    transition:all 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--mint) !important;
    color: var(--royal);
}
.productCard:hover{
    transform: scale(1.02);
}

.productImage{
    width:5rem;
    margin:auto;
    color: var(--royal) !important;
}

.proDesc {
    padding-top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @media screen and (max-width:340px) {
    .productCard,.productLink{
      min-width:80vw !important;
      padding:0 !important;
    }
  } */