
.brandName{
    font-size: 3rem !important;

}

.navbar-dark .navbar-brand {
    color: var(--alice);
}

.navbar-dark .navbar-brand:hover {
    color: var(--alice);
    text-shadow: 0 0 2rem var(--alice);
    transform: scale(1.03);
}

.navLink{
    padding:1.5rem 2rem;
    text-decoration: none;
    /* font-size:1.5rem; */
    color: var(--alice);
}
.navLink:hover{
    color: var(--alice);
    text-shadow: 0 0 1rem var(--alice);
    transform: scale(1.03);
}

.navigation{
    background-color: var(--royal);
    border-bottom: 4px solid var(--orange);
}
.navCheckout{
    position: relative;
}
.cartCount{
    position:absolute;
    bottom:1rem;
    right:1rem;
    font-size: 0.8rem;
    background-color: rgb(7, 56, 125);
    border-radius: 50%;
    padding:0 0.4rem;
}


/* .navRight{
    width:100px;
} */
/* .navContainer{
    display:flex;
    justify-content: space-between;
    background-color: #828282;
    color:rgb(255, 255, 255);
    padding-left:1.4rem;
}
.navLinkContainer{
    display:flex;
    justify-content: space-around;
   
}
.navName{
    font-size: 3rem;
    font-weight: 300;
}
.navLink{
    padding:1.4rem;

    cursor: pointer;
}
.Link{
    text-decoration: none;
    color:white;
}
.Link:hover{
    color:rgb(241, 241, 241);
    text-shadow: 0 0 0.5rem white;
}

@media screen and (max-width:700px) {
    .navContainer{
        display:block;
        padding:0;
    }
}
/* @media screen and (max-width:425px) {
    .Link{
        padding:1.4rem 0.5rem;
        font-size: 0.89rem;;
    }
}  */
@media screen and (max-width:625px) {
    
    .brandName{
        font-size: 2rem !important;
    }
}
@media screen and (max-width:430px) {
    
    .brandName{
        font-size:x-large !important;
    }
}