.charityPage{
    margin-bottom:8rem;
}
.charityLink{
    text-decoration: none;
    color:black;
}
.charityLink:hover{
    color:rgb(98, 98, 98);
}
.charityCard{
    width:25rem;
    height:30rem;
    box-shadow:0.5rem 0.5rem 1rem rgb(178, 178, 178);
    transition:all 0.2s ease-in-out;
    cursor: pointer;
}
.charityCard:hover{
    transform: scale(1.02);
}