.charityPage{
    margin-bottom:8rem;
}

.charityLink{
    text-decoration: none;
    color:black;
    background-color: var(--alice);
}
.charityLink:hover{
    color:rgb(98, 98, 98);
}
.charityCard{
    width:25rem;
    height:30rem;
    box-shadow:0.5rem 0.5rem 1rem #bbc4cf;
    transition:all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--mint) !important;

}
.charityCard:hover{
    transform: scale(1.02);
}
.charityImage{
    width:20rem;
    margin:auto;

}

.display-1 {
    color: var(--royal);
}

p {
    color: var(--royal);
}

.title {
    color: var(--royal);
}

@media screen and (max-width: 405px) {
    .charityCard {
        width: 100% !important;
    }

}