.productCard{
    width:20rem;
    height:30rem;
    box-shadow:0.5rem 0.5rem 1rem rgb(178, 178, 178);
    transition:all 0.2s ease-in-out;
    cursor: pointer;
}
.productCard:hover{
    transform: scale(1.02);
}

.productImage{
    width:5rem;
    margin:auto;
}