.footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--royal);
    border-top: 3px solid var(--orange);
}
.footerLink{
    color:var(--alice) !important;
    transition:all 0.2s ease-in-out;
}
.footerLink:hover{
    color: var(--alice);
    text-shadow: 0 0 1rem var(--alice);
    transform: scale(1.03);
}

@media screen and (max-width: 410px) {
    
    .footer{
        display:block !important;
        /* width: 105%; */
        height: auto;
    }
    .footerLinkContainer{
        display:block !important;
    }
    
}

@media screen and (max-width:398px) {
    
    /* .footer{
        width: 109%;
        height: auto;
    } */

    
}