.profilePage{
    margin-bottom:8rem;
    position: relative;
}
.profileInfoContainer{
    width:42rem;
}
.charityButton{
    position:absolute;
    top:0;
    right:1rem;
}
@media screen and (max-width:43rem) {
    .profileInfoContainer{
        width:100vw;
        padding:0 !important;
    }
    
}