
.rafflePage{
    margin-bottom:8rem;
}

.charityCard {
    background-color: var(--mint) !important;
}

h2 {
    color: var(--royal);
}

@media screen and (max-width:410px) {
    html {
        height: auto !important;
        width: 100%;
    }
    .rafflePage{
        margin-bottom:10rem;
    }
    
}

